html{
    scroll-behavior: smooth;
}


*{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

fontKhususNama{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #405CF0 0%, #8528CE 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

font1{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(116deg, #405CF0 17.08%, #8528CE 66.27%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

font2{
    color: #0B0A0A;
    font-family: Plus Jakarta Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

font3{
    font-family: Plus Jakarta Sans;
    font-size: 60px;    
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #405CF0 0%, #8528CE 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

font4{
    color: #0B0A0A;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 3px;
    word-spacing: 3px;
    line-height: 30px; /* 187.5% */
    flex-wrap: wrap;
    width: 360px;
    height: 118px;
}

font4NoSpacing{
    color: #0B0A0A;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; /* 187.5% */
    flex-wrap: wrap;
    width: 360px;
    height: 118px;
}


font5{
    color: #fff;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

font6{
    color: #fff;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
}

.img1{
    height: 400px;
    width: 350px;
}

.card-body{
    border-radius: 0px 0px 5px 5px;
    background: linear-gradient(153deg, #405CF0 28.84%, #8528CE 83.33%);
}

.menuNavbar{
    flex-direction: row;
    position: relative;
}

li{
    list-style-type: none;
    justify-items: flex-end;
}

li:not(:last-child){
    margin-bottom: 10px;
}

.setFont{
    margin-right: 10px;
}

a{
    text-decoration: none;
}

.footer{
    background: linear-gradient(153deg, #405CF0 28.84%, #8528CE 83.33%);
    width: 100%;
    height: 60px;
    display: flex;
}

.imgCustom{
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.imgIcon{
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

@media (min-width: 768px) {
    .carousel-inner {
      display: flex;
    }
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }
  }

.carousel-inner{
    padding: 1em;
}

.carousel-control-prev, .carousel-control-next{
    background-color: #e1e1e1;
    color: #8528CE;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
